In [1]:
import numpy

In [2]:
list = [ 1,2,3,4]

In [3]:
a = numpy.array(list)

In [4]:
type(a)

numpy.ndarray

In [5]:
import numpy as np

In [6]:
a = np.array(list)

In [9]:
from numpy import*

In [10]:
a = array(list)

In [11]:
type(a)

numpy.ndarray

In [12]:
print(a)

[1 2 3 4]

In [13]:
a.shape

(4,)

In [14]:
a.ndim

1

In [15]:
a.size

4

In [16]:
type(a)

numpy.ndarray

In [17]:
min(a)

1

In [18]:
max(a)

4

In [19]:
list = ["pradeepthi","swathi",2,3,4,5]

In [20]:
a = np.array(list)

In [21]:
print(a)

['pradeepthi' 'swathi' '2' '3' '4' '5']

In [23]:
type(a)

numpy.ndarray

In [24]:
a

array(['pradeepthi', 'swathi', '2', '3', '4', '5'], dtype='<U10')

In [25]:
a[0]

'pradeepthi'

In [26]:
a[-1]

'5'

In [28]:
a[1:4]

array(['swathi', '2', '3'], dtype='<U10')

In [29]:
a[0] = "hey"

In [30]:
a

array(['hey', 'swathi', '2', '3', '4', '5'], dtype='<U10')

In [32]:
list = [[1,2,3],[3,4,5],[6,7,8],[9,10,11]]

In [33]:
list

[[1, 2, 3], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [34]:
arr_2d = np.array(list)

In [35]:
arr_2d

array([[ 1,  2,  3],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [36]:
arr_2d.shape

(4, 3)

In [37]:
arr_2d.ndim

2

In [40]:
arr_2d[:1]

array([[1, 2, 3]])

In [41]:
arr_2d[0][1]

2

In [43]:
arr_2d

array([[ 1,  2,  3],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [44]:
arr_2d[:,1]

array([ 2,  4,  7, 10])

In [45]:
arr_2d[2:4,1:3]

array([[ 7,  8],
       [10, 11]])

[[7,8],
[10,11]]

In [46]:
arr_2d[2:,1:]

array([[ 7,  8],
       [10, 11]])

In [47]:
arr_2d.diagonal()

array([1, 4, 8])

In [49]:
arr_2d[0][1]

2

In [50]:
temp =  [arr_2d[1,0], arr_2d[0,1], arr_2d[2,2]]

In [51]:
temp

[3, 2, 8]

In [52]:
type(temp)

list

In [53]:
np.array(temp)

array([3, 2, 8])

create a numpy array of 4*4 matrix = frt colum you must have name , age, salry,desig

In [54]:
emp=[["Manav","Ram","Sahil","Yash"],[25,26,27,28],[30000,45000,25000,40000],["Mumbai","Delhi","Delhi","Mumbai"]]
numpy.array(emp)

array([['Manav', 'Ram', 'Sahil', 'Yash'],
       ['25', '26', '27', '28'],
       ['30000', '45000', '25000', '40000'],
       ['Mumbai', 'Delhi', 'Delhi', 'Mumbai']], dtype='<U6')

In [55]:
emp = [["name","age","salary","desig"],["a",41,1000,"hr"],["b",35,2000,"manager"],["c",39,5000,"p_head"],["d",34,4000,"pr"]]

In [56]:
np.array(emp)

array([['name', 'age', 'salary', 'desig'],
       ['a', '41', '1000', 'hr'],
       ['b', '35', '2000', 'manager'],
       ['c', '39', '5000', 'p_head'],
       ['d', '34', '4000', 'pr']], dtype='<U7')

In [57]:
emp_list = [["Rahul", 29, 20000, "SDE1"],["Prince", 24, 70000, "SDE1"],["Ria", 24, 40000, "SDE1"],["Dev", 23, 50000, "SDE1"],["Mohan", 24, 90000, "SDE1"]]

In [58]:
np.array(emp_list)

array([['Rahul', '29', '20000', 'SDE1'],
       ['Prince', '24', '70000', 'SDE1'],
       ['Ria', '24', '40000', 'SDE1'],
       ['Dev', '23', '50000', 'SDE1'],
       ['Mohan', '24', '90000', 'SDE1']], dtype='<U6')

1.ones
2. zeroes
3. eye #
4. arange
5. random.randint
6.random.rand
7.linspace
8.reshape
9. concatenate
10.delete
11. ravel
12.flaten

In [59]:
np.ones(30)# create a 1d array with 1 elements wrt specified number

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [61]:
np.ones((5,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [62]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [63]:
np.zeros((4,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [66]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [68]:
np.arange(20) # creates a 1d array with a sopecified range

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [72]:
np.arange(40,50,5)

array([40, 45])

In [79]:
np.linspace(1,2,100)# it creates linearly spaced elemnetss given in a range

array([1.        , 1.01010101, 1.02020202, 1.03030303, 1.04040404,
       1.05050505, 1.06060606, 1.07070707, 1.08080808, 1.09090909,
       1.1010101 , 1.11111111, 1.12121212, 1.13131313, 1.14141414,
       1.15151515, 1.16161616, 1.17171717, 1.18181818, 1.19191919,
       1.2020202 , 1.21212121, 1.22222222, 1.23232323, 1.24242424,
       1.25252525, 1.26262626, 1.27272727, 1.28282828, 1.29292929,
       1.3030303 , 1.31313131, 1.32323232, 1.33333333, 1.34343434,
       1.35353535, 1.36363636, 1.37373737, 1.38383838, 1.39393939,
       1.4040404 , 1.41414141, 1.42424242, 1.43434343, 1.44444444,
       1.45454545, 1.46464646, 1.47474747, 1.48484848, 1.49494949,
       1.50505051, 1.51515152, 1.52525253, 1.53535354, 1.54545455,
       1.55555556, 1.56565657, 1.57575758, 1.58585859, 1.5959596 ,
       1.60606061, 1.61616162, 1.62626263, 1.63636364, 1.64646465,
       1.65656566, 1.66666667, 1.67676768, 1.68686869, 1.6969697 ,
       1.70707071, 1.71717172, 1.72727273, 1.73737374, 1.74747475,
       1.75757576, 1.76767677, 1.77777778, 1.78787879, 1.7979798 ,
       1.80808081, 1.81818182, 1.82828283, 1.83838384, 1.84848485,
       1.85858586, 1.86868687, 1.87878788, 1.88888889, 1.8989899 ,
       1.90909091, 1.91919192, 1.92929293, 1.93939394, 1.94949495,
       1.95959596, 1.96969697, 1.97979798, 1.98989899, 2.        ])

In [76]:
np.linspace(1,2).size

50

In [80]:
#reshape conveerts 1d to 2d

In [87]:
a = np.arange(16)

In [88]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [89]:
a.ndim

1

In [93]:
b = a.reshape(4,4)#

In [91]:
b

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [101]:
np.random.randint(10,20)# single random value lies between 0 , specified number

17

In [103]:
np.random.randint(20,30,6)#integrers

array([24, 23, 26, 29, 24, 24])

In [105]:
np.random.rand(4,5)#[0,1]

array([[0.09951845, 0.82356637, 0.02004422, 0.60938218, 0.38159729],
       [0.8771475 , 0.92927729, 0.04955235, 0.2095269 , 0.90589784],
       [0.67468026, 0.71574453, 0.99743375, 0.54573678, 0.30850801],
       [0.87576864, 0.46872202, 0.55555498, 0.18722074, 0.21912753]])

create an array with arrange conists of 16 elements  
ceate an linpsce array with 20 elemnets ranging between 4,5
create an random integer array with 9 elemnets randing from 9 to 95
convert all the above arrays to 2d with reshape

In [113]:
l1=np.arange(16)
l2=np.linspace(4,5,20)
l3=np.random.randint(9,95,9)
print("li: ",l1,"l2: ",l2,"l3: ",l3)

li:  [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15] l2:  [4.         4.05263158 4.10526316 4.15789474 4.21052632 4.26315789
 4.31578947 4.36842105 4.42105263 4.47368421 4.52631579 4.57894737
 4.63157895 4.68421053 4.73684211 4.78947368 4.84210526 4.89473684
 4.94736842 5.        ] l3:  [85 39 32 70 30 81 53 77 71]

In [109]:
l1.reshape(4,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [110]:
l2.reshape(4,5)

array([[4.        , 4.05263158, 4.10526316, 4.15789474, 4.21052632],
       [4.26315789, 4.31578947, 4.36842105, 4.42105263, 4.47368421],
       [4.52631579, 4.57894737, 4.63157895, 4.68421053, 4.73684211],
       [4.78947368, 4.84210526, 4.89473684, 4.94736842, 5.        ]])

In [111]:
l3.reshape(3,3)

array([[77, 14, 39],
       [63, 13, 69],
       [65,  9, 12]])

In [114]:
a = np.arange(9).reshape(3,3)

In [115]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [116]:
b = np.linspace(10,12,9).reshape(3,3)

In [117]:
b

array([[10.  , 10.25, 10.5 ],
       [10.75, 11.  , 11.25],
       [11.5 , 11.75, 12.  ]])

In [118]:
c = np.concatenate((a,b))

In [119]:
c

array([[ 0.  ,  1.  ,  2.  ],
       [ 3.  ,  4.  ,  5.  ],
       [ 6.  ,  7.  ,  8.  ],
       [10.  , 10.25, 10.5 ],
       [10.75, 11.  , 11.25],
       [11.5 , 11.75, 12.  ]])

In [120]:
d = np.concatenate((a,b),axis = 1)

In [121]:
d

array([[ 0.  ,  1.  ,  2.  , 10.  , 10.25, 10.5 ],
       [ 3.  ,  4.  ,  5.  , 10.75, 11.  , 11.25],
       [ 6.  ,  7.  ,  8.  , 11.5 , 11.75, 12.  ]])

In [132]:
e = np.delete(c,[1,2],axis = 0)

In [133]:
e

array([[ 0.  ,  1.  ,  2.  ],
       [10.  , 10.25, 10.5 ],
       [10.75, 11.  , 11.25],
       [11.5 , 11.75, 12.  ]])

In [134]:
f = np.delete(d,[4,5],axis =1)

In [135]:
f

array([[ 0.  ,  1.  ,  2.  , 10.  ],
       [ 3.  ,  4.  ,  5.  , 10.75],
       [ 6.  ,  7.  ,  8.  , 11.5 ]])

these two function are usd to convert 2d to 1d,

In [137]:
c

array([[ 0.  ,  1.  ,  2.  ],
       [ 3.  ,  4.  ,  5.  ],
       [ 6.  ,  7.  ,  8.  ],
       [10.  , 10.25, 10.5 ],
       [10.75, 11.  , 11.25],
       [11.5 , 11.75, 12.  ]])

In [138]:
parent= c

In [139]:
parent

array([[ 0.  ,  1.  ,  2.  ],
       [ 3.  ,  4.  ,  5.  ],
       [ 6.  ,  7.  ,  8.  ],
       [10.  , 10.25, 10.5 ],
       [10.75, 11.  , 11.25],
       [11.5 , 11.75, 12.  ]])

In [140]:
ravelchild = parent.ravel()

In [141]:
ravelchild

array([ 0.  ,  1.  ,  2.  ,  3.  ,  4.  ,  5.  ,  6.  ,  7.  ,  8.  ,
       10.  , 10.25, 10.5 , 10.75, 11.  , 11.25, 11.5 , 11.75, 12.  ])

In [142]:
flattenchild = parent.flatten()

In [143]:
flattenchild

array([ 0.  ,  1.  ,  2.  ,  3.  ,  4.  ,  5.  ,  6.  ,  7.  ,  8.  ,
       10.  , 10.25, 10.5 , 10.75, 11.  , 11.25, 11.5 , 11.75, 12.  ])

1. ravel takes the refernce of parent array . you change anything in ravel child that gets reflected in parent raay
2. flatten. copys the arry. any changes in flatten araay will not reflect in parent array

In [146]:
ravelchild[1] = 2000

In [147]:
ravelchild

array([   0.  , 2000.  ,    2.  ,    3.  ,    4.  ,    5.  ,    6.  ,
          7.  ,    8.  ,   10.  ,   10.25,   10.5 ,   10.75,   11.  ,
         11.25,   11.5 ,   11.75,   12.  ])

In [148]:
parent

array([[   0.  , 2000.  ,    2.  ],
       [   3.  ,    4.  ,    5.  ],
       [   6.  ,    7.  ,    8.  ],
       [  10.  ,   10.25,   10.5 ],
       [  10.75,   11.  ,   11.25],
       [  11.5 ,   11.75,   12.  ]])

In [149]:
flattenchild[0] = 1000

In [150]:
flattenchild

array([1000.  ,    1.  ,    2.  ,    3.  ,    4.  ,    5.  ,    6.  ,
          7.  ,    8.  ,   10.  ,   10.25,   10.5 ,   10.75,   11.  ,
         11.25,   11.5 ,   11.75,   12.  ])

In [151]:
parent

array([[   0.  , 2000.  ,    2.  ],
       [   3.  ,    4.  ,    5.  ],
       [   6.  ,    7.  ,    8.  ],
       [  10.  ,   10.25,   10.5 ],
       [  10.75,   11.  ,   11.25],
       [  11.5 ,   11.75,   12.  ]])